<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Add Airplane - Fill out below form to add an airplane into the database!
      <a href="/ashome" style="float: right; font-size:13px">Go back to homepage</a>
    </h2>
    <form action="/ASaddairport" method="POST">
      <div style= "margin-top: 8px; margin-bottom: 8px">
      <label>Airport Name:
        <input type="text" name="airport_name" required>
      </label>
      </div>
      <div style= "margin-top: 8px; margin-bottom: 8px">
      <label>Airplane City:
        <input type="text" name="airport_city" required>
      </label>
      <div style= "margin-top: 8px; margin-bottom: 8px">
        <input type="submit" name="submit_button" value="Submit">
      </div>
    </form>


</div>



</body>
</html>
