<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Airport Added - See below for information about the newly added airport!
      <a href="/ashome" style="float: right; font-size:13px">Go back to homepage</a>
    </h2>
    <p> Airport Name: {{airport_name}}</p>
    <p> Airport City: {{airport_city}} </p>
</div>
</body>
</html>
