<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Flight Created - See below for information about the newly created flight!
      <a href="/ashome" style="float: right; font-size:13px">Go back to homepage</a>
    </h2>
    <p> Airline: {{airline_name}} </p>
    <p> Flight Number: {{flight_num}}</p>
    <p> FLIGHT FROM: {{departure_airport}} TO {{arrival_airport}}</p>
    <p> Departure Time: {{departure_time}}</p>
    <p> Arrival Time: {{arrival_time}}</p>
    <p> Flight Status: {{status}} </p>
    <p> Price: {{price}} </p>
    <p> Airplane ID: {{airplane_id}} </p>


</div>



</body>
</html>
