<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
</form>

<a href='/ASviewflights'>View Flights</a>
<a href='/AScreateflights'>Create New Flights</a>
<a href='/ASchangestatus'>Change Status of flights</a>
<a href='/ASaddairplane'>Add Airplane</a>
<a href='/ASaddairport'>Add Airport</a>
<a href='/baviewflights'>View Frequent Customers</a>
<a href='/testpage1'>Search Flights/Purchase Tickets</a>


<a href="/logout">Logout</a>

</body>


</html>
