{% extends "layoutlegacy.html"%}
{% block header %}{% endblock %}
{% block content %}
<div align="center">
<div style="text-align:center; width:30% ;"class="jumbotron">
<form action="/asregisterAuth" method="POST">
	<fieldset>
		<div class="form-group">
			<label for="exampleInputEmail1" style="float:left;">Username</label>
			<input required type="text" name = "username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1" style="float:left;">Password</label>
			<input required type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="form-row">
			<div class="col">
				<input required type="text" name="first_name" class="form-control" placeholder="First name">
			</div>
			<div class="col">
				<input required type="text" name="last_name" class="form-control" placeholder="Last name">
			</div>
		</div>
		<div class="form-group">
			<label for="dob" style="float:left;">Date of Birth</label>
			<input required type="date" name = "date_of_birth" class="form-control" id="dob" placeholder="Date of Birth">
		</div>
		<input required type="text" name = "airline_name" class="form-control" id="arn" placeholder="Airline name">
	

	<button type="submit" class="btn btn-primary" style="margin:10px;">Register</button>
	<button type="reset" class="btn btn-primary">Reset</button>
</fieldset>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
