<h2> Your Flight Info
<a href="/ashome" style="float: right; font-size:13px; padding-right: 10px">Go back to homepage</a>
</h2>
<p> Your Upcoming Flights (Next 30 Days)
<p> Todays Date: {{date}}

<body>
  <form action="/ASviewflights" method="POST">
      {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
      {% endif %}
      <label> Arrival Airport:
      <select name = "arrairport">
        {% for arrival_airport in arrival_airport %}
        <option value="{{arrival_airport[0]}}" SELECTED>{{arrival_airport[0]}}</option>"
        {% endfor %}
      </select>
      </label>
      <label> Departure Airport:
      <select name = "depairport">
        {% for departure_airport in departure_airport %}
        <option value="{{departure_airport[0]}}" SELECTED>{{departure_airport[0]}}</option>"
        {% endfor %}
      </select>
      </label>
      <div>
    FROM: <input type="datetime-local" name="fromdate" style="margin-top: 7px">
    </div>
    <div>
      TO: <input type="datetime-local" name="todate" style="margin-top: 7px">
      <input type="submit" name="submit_button" value="Submit">
      </div>
  </form>
</body>
<table border="1" id = "flight_info" >
  <tr>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Aiport</th>
    <th>Arrival Aiport</th>
    <th>Departure Time</th>
    <th>Arrival Time</th>
    <th>Flight Status</th>
    <th> Passenger/Customer List </th>
  </tr>
  {% for row in flightlist %}
  <tr>
    {% for x in row %}
       <td>{{x}}</td>
    {% endfor %}
    <form action="/viewflightcustomerlist" method="POST">
    <td><button type="/submit" name = "custlist" value = "{{row}}" >View Customer List</button></td>
  </form>
  </tr>
  {% endfor %}
  </table>

</body>
</html>
