<html>
<head>
</head>
<body>
<form action="/baregisterAuth" method="POST">
	<input type="email" name = "email" placeholder="email" required/><br>
	<input type="password" name = "password" placeholder="password" required/><br>
	<input type="number" name="booking_agent_id" placeholder="Booking Agent ID" required/><br>


	<input type="submit" value = Register />
	<input type="reset"/>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
