<h2> Your Flight Info
<a href="/home" style="float: right; font-size:13px; padding-right: 10px">Go back to homepage</a>
</h2>


<table border="1" id = "flight_info" >
  <tr>
    <th>Airline Name</th>
    <th>Flight Number</th>
    <th>Departure Aiport</th>
    <th>Departure Time</th>
    <th>Arrival Aiport</th>
    <th>Arrival Time</th>
    <th> Price </th>
    <th>Flight Status</th>
    <th> Airplane ID </th>
  </tr>
  {% for row in flightlist %}
  <tr>
    {% for x in row %}
       <td>{{x}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>

</body>
</html>
