{% extends "layoutlegacy.html" %}
{% block head %}
{{super()}}
  <meta charset="utf-8" />
  <title>Comparison of Revenue Earned</title>
  <!-- import plugin script -->
  <script src='static/js/Chart.min.js'></script>

{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Database Final Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <button type="button" onclick="location.href='/ashome'" class="btn btn-secondary">Back to Home</button>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="jumbotron">

<h1>Comparison of Revenue Earned</h1>
<!-- bar chart canvas element -->
<canvas id="myChart" width="600" height="400" style="display:inline-block;"></canvas>
<canvas id="myChart1" width="600" height="400" style="display:inline-block;"></canvas>
</div>
<script>
// Global parameters:
// do not resize the chart canvas when its container does (keep at 600x400px)
Chart.defaults.global.responsive = false;

// define the chart data
var chartData = {
  labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      backgroundColor : [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
      ],
      data : [{% for item in values %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }]
}
var options = {
  title: {
    display: true,
    text: 'Past Month'
}
}

// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");

// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: chartData,
  options: options
});

var chartData1 = {
  labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
  datasets : [{
      backgroundColor : [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 255, 235, 0.2)'
      ],
      data : [{% for item in values1 %}
                {{item}},
              {% endfor %}],
      spanGaps: false
  }]
}
var options1 = {
  title: {
    display: true,
    text: 'Past Year'
}
}

// get chart canvas
var ctx = document.getElementById("myChart1").getContext("2d");

// create the chart using the chart canvas
var myChart1 = new Chart(ctx, {
  type: 'doughnut',
  data: chartData1,
  options: options1
});
</script>
{% endblock %}
