{% extends "layoutlegacy.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-3">Welcome {{username}}!</h1>
  <p class="lead">Choose what you would like to do from the options below:</p>
  <hr class="my-4">
  {% if session['typeof'] == "customer" %}
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/viewflights" role="button">View Flights</a>
    <a class="btn btn-primary btn-lg" href="/testchart" role="button">Track My Spending</a>
    <a class="btn btn-primary btn-lg" href="/testpage1" role="button">Search for Flights/Purchase Tickets</a>
  </p>
  {% elif session['typeof'] == 'booking_agent' %}
  <a class="btn btn-primary btn-lg" role="button" href='/baviewflights'>View Flights</a>
  <a class="btn btn-primary btn-lg" role="button" href='/viewcommission'>View Commission</a>
  <a class="btn btn-primary btn-lg" role="button" href='/viewtopcustomers'>View Top Customers</a>
  <a class="btn btn-primary btn-lg" role="button" href='/testpage1'>Search Flights/Purchase Tickets</a>
</div>


{% else %}

Nothing here

{% endif %}

{% endblock %}
