<html>
<head>

</head>
<body>


<h1>Welcome {{username}}</h1>
{% if typeof == "customer" %}

<a href='/viewflights'>View Flights</a>
<a href='/testchart'>Track My Spending</a>
<a href='/testpage1'>Search Flights/Purchase Tickets</a>

{% else %}

<a href='/baviewflights'>View Flights</a>
<a href='/viewcommission'>View Commission</a>
<a href='/baviewflights'>View Top Customers</a>
<a href='/testpage1'>Search Flights/Purchase Tickets</a>


{% endif %}

<a href="/logout">Logout</a>

</body>


</html>
