<!DOCTYPE html>
<html>

<head>

</head>

<body>
{% with message = get_flashed_messages() %}
	{% if not message %}
		<a href="/login">Login</a>
		<a href="/register">Register</a>
		<a href="/testpage1">Test Page 1</a>
		<a href="bootstrap/testpage3.html">Test Page 3</a>
		<a href="/testchart">Test Chart</a>
		<h1>hello</h1>
	{% endif %}

	{% if message %}
		<a href="/logout">Logout</a>
		<a href="/remove_account">Remove Account</a>
		</br>

	{% endif %}
{% endwith %}
</body>

</html>
