<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <h2>Dropdowns</h2>
  <p>The .dropdown class is used to indicate a dropdown menu.</p>
  <p>Use the .dropdown-menu class to actually build the dropdown menu.</p>
  <p>To open the dropdown menu, use a button or a link with a class of .dropdown-toggle and data-toggle="dropdown".</p>
  <div class="dropdown">
    <html>
      <body>
        <form action="/testpage1" method="POST">
          <select name = "arrairport">
            {% for arrival_airport in arrival_airport %}
            <option value="{{arrival_airport[0]}}" SELECTED>{{arrival_airport[0]}}</option>"
            {% endfor %}
          </select>
          <select name = "depairport">
            {% for departure_airport in departure_airport %}
            <option value="{{departure_airport[0]}}" SELECTED>{{departure_airport[0]}}</option>"
            {% endfor %}
          </select>
          Departure Date: <input type="datetime-local" name="depdate">
          <input type="submit" name="submit_button" value="Submit">
        </form>
      </body>
    </html>
  </div>
  <div id="result">
    {% if arrairport is defined %}
        You have selected: {{ arrairport }}
    {% endif %}
    {% if depairport is defined %}
        You have selected: {{ depairport }}
    {% endif %}
    {% if depdate is defined %}
        You have selected: {{ depdate }}
    {% endif %}
    {% if finalflightdata is defined %}
        You have selected: {{ finalflightdata }}
    {% endif %}
  </div>
</div>

</body>
</html>
