<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <h2>Upcoming Flights</h2>
  <p>Upcoming flight info </p>
  <p> Search by flight number and depature date OR BY arrival and departure airport and departure date </p>
  <div class="dropdown">
    <html>
    <form action="/changesearch" method="POST">
        <body>
          {% if searchtype == 'Airport_search' %}
            <button type="submit" name = "changesearch" value = "changesearch">Search by Flight Number!</button>
          {% endif %}
          {% if searchtype == 'flight_num_search' %}
            <button type="submit" name = "changesearch" value = "changesearch">Search by Arrival and Departure Airport!</button>
          {% endif %}
        </body>
    </form>
      <body>
        {% if error %}
          <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
        <form action="/testpage1" method="POST">
          {% if searchtype == 'Airport_search' %}
            <label> Arrival Airport:
            <select name = "arrairport">
              {% for arrival_airport in arrival_airport %}
              <option value="{{arrival_airport[0]}}" SELECTED>{{arrival_airport[0]}}</option>"
              {% endfor %}
            </select>
            </label>
            <label> Departure Airport:
            <select name = "depairport">
              {% for departure_airport in departure_airport %}
              <option value="{{departure_airport[0]}}" SELECTED>{{departure_airport[0]}}</option>"
              {% endfor %}
            </select>
            </label>
          {% endif %}
          {% if searchtype == 'flight_num_search' %}
            <div>
              <label>Flight Number:
                <input type="number" name="flight_num">
              </label>
            </div>
          {% endif %}
          Departure Date: <input type="datetime-local" name="depdate">
          <input type="submit" name="submit_button" value="Submit">
        </form>
      </body>
    </html>
  </div>
  <div id="result">
    <div>
    {% if arrairport is defined %}
        Arrival Airport selected: {{ arrairport }}
    {% endif %}
    </div>
    <div>
    {% if depairport is defined %}
        Departure selected: {{ depairport }}
    {% endif %}
    </div>
    <div>
    {% if flight_num is defined %}
        Flight Number selected: {{ flight_num }}
    {% endif %}
    </div>
    <div>
    {% if depdate is defined %}
        Date selected: {{ depdate }}
    {% endif %}
    </div>
    {% if finalflightdata is defined %}
    <table border="1" id = "flight_info" >
      <tr>
        <th>Airline Name</th>
        <th>Flight Number</th>
        <th>Departure Aiport</th>
        <th>Arrival Aiport</th>
        <th>Departure Time</th>
        <th>Arrival Time</th>
        <th>Flight Status</th>
      </tr>
      <tr>
        {% for row in finalflightdata %}
           <td>{{row[0]}}</td>
           <td>{{row[1]}}</td>
           <td>{{row[2]}}</td>
           <td>{{row[3]}}</td>
           <td>{{row[4]}}</td>
           <td>{{row[5]}}</td>
           <td>{{row[6]}}</td>
           <td>{{row[7]}}</td>
           <td>{{row[8]}}</td>
           <td>{{row[9]}}</td>
           <br>
        {% endfor %}
      </tr>
      </table>
    {% endif %}


  </div>
</div>

</body>
</html>
