{% extends "layoutlegacy.html" %}
{% block head %}
{{super()}}
  <meta charset="utf-8" />
  <title>Top Customers</title>
  <!-- import plugin script -->
  <script src='static/js/Chart.min.js'></script>

{% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Database Final Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
    <button type="button" onclick="location.href='/ashome'" class="btn btn-secondary">Back to Home</button>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="jumbotron">
{% if list.length != 0  %}
<h1>Destinations within the past 3 Months</h1>

Top Destination: {{list[0][0]}} <br>
Second Destination: {{list[1][0]}} <br>
Third Destination: {{list[2][0]}} <br>
{% endif %}

{% if list1.length != 0 %}
<h1>Destinations within the past Year</h1>

Top Destination: {{list1[0][0]}} <br>
Second Destination: {{list1[1][0]}} <br>
Third Destination: {{list1[2][0]}} <br>
{% endif %}

</div>
{% endblock %}
